@charset "UTF-8";

.select-options button {
  background-color: lavender; 
  border : none;
  color: black; 
  padding: 35px 20px;
  cursor: pointer;
  width: 35%; 
  display: block; 
  font-size : 30px;
  line-height: 5px;
}

.select-options a
{
	  text-decoration: none;
}

.select-options button:hover {
  background-color: #555;
  color: white;
}